<!DOCTYPE html>
<html lang="en">

<%- include('layouts/header'); -%>

<body>

  <!-- Navigation -->
<%- include('layouts/navbar'); -%>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('/img/astronomy-dark-evening-glowing-176851.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Register a new account</h1>
            <span class="subheading"></span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <% if(errors != null && errors.length > 0) { %>
          <ul class="list-group">
            <% for (var i = 0; i < errors.length; i++) { %>
              <li class="list-group-item list-group-item-danger"> <%= errors[i]  %></li>
            <% } %>
          </ul>
        <% } %>
      <p>Details</p>
        <form action="/user/register" method="POST" enctype="multipart/form-data">
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>User name</label>
              <input type="text" class="form-control" placeholder="User Name" id="username" name="username" value="<%= username %>">
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Password</label>
              <input type="password" class="form-control" placeholder="password" id="password" name="password" value="<%= password %>">
            </div>
          </div>
          <br>
          <div id="success"></div>
          <button type="submit" class="btn btn-primary" id="sendMessageButton">Register</button>
        </form>
      </div>
    </div>
  </div>

  <hr>

  <!-- Footer -->
<%- include('layouts/footer'); -%>

  <!-- Bootstrap core JavaScript -->
<%- include('layouts/script'); -%>

</body>

</html>
